{% extends 'base.html' %} 

{% block content %}
    
    <div class="col-md-4 offset-md-4">
		<form  action="" method="post">
            <br><br>
            <h1>Formulario</h1>
            <br>  
            <div class="col">
    			<label for="nome">Nome Completo</label>
				<input type="text" id="nome" name	="name" class="form-control" />
			</div>
			<div class="col">
    			<label for="email">E-mail</label>
				<input type="text" id="email" name="email" class="form-control" />
      		</div>
      		<div class="col">
    			<label for="telefone">Telefone</label>
				<input type="text" id="telefone" name	="telefone" class="form-control" />
      		</div>
      		<div class="col">
    		<label for="cod_registro">Codigo de registro</label>
				<input type="text" id="cod_registro" name	="cod_registro" class="form-control" />
      		</div>
      		<br>
      		<div class="col">
				<button type="submit" class="btn btn-block btn-primary">Cadastrar</button>
            </div>
            <br>
            <div class = "col">
                    <a class="btn btn-block btn-warning" href="{{ url_for('index') }}">Voltar</a>
            </div>
    	</form>					
	</div>

    {% endblock %}