{% extends 'base.html' %} 

{% block content %}
        
    <div class="col-md-4 offset-md-4"> 
        <br><br><br><br>
        <div class="col">
            <h1>Seja Bem vindo</h1>   
        </div>
        <br>
        <div class="col">
           <a class="btn btn-block btn-primary" href="{{ url_for('exibir') }}">Acessar Lista de Funcionarios</a>
        </div>
        <br>
        <div class="col">
           <a class="btn btn-block btn-primary" href="{{ url_for('cadastro') }}">Cadastrar novo funcionario</a>
        </div>
        <br>
        <div class="col">
            <a class="btn btn-block btn-danger" href="{{ url_for('logout') }}">Sair</a>
        </div>
    </div>

    {% endblock %}